{% extends 'coolflex/base.html' %}
{% load static %}


{% block content %}
<a class="logout-button" href="{% url 'logout' %}">Logg ut</a>
<h1>{{ user }}</h1>
<table id="coolflex">
    <thead>
      <tr>
        <th>Navn</th>
        <th>Etternavn</th>
        <th>Status</th>
        <th>Tidspunkt</th>
        <th>Sted</th>
        <th>Foreldre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr>
          <td> {{ user.first_name }} </td>
          <td> {{ user.last_name }} </td>
          <td> {{ user.status }} </td>
          <td> {{ user.timestamp }} </td>
          <td> {{ user.location }} </td>
          <td> {{ user.get_parent }} </td>
          <td> <div class="button"><a href="{% url 'updatecooluser' user.id %}">Oppdater</a></div> </td>
          <td> <div class="button"><a href="{% url 'deletecooluser' user.id %}">Slett</a></div> </td>
        </tr>
      </tr>
    </tbody>
    </table>
{% endblock %}
{% block sidenav %}
<a href="{% url 'frontpage' %}">Hjem</a> 
<a href="{% url 'info' %}">Om oss</a>
<a href="{% url 'logout' %}">Logg ut</a>
{% endblock %}