{% extends 'coolflex/base.html' %}
{% load static %}


{% block content %}
<a class="logout-button" href="{% url 'logout' %}">Log out</a>
<h1>{{ user }}</h1>
<table>
    <thead>
      <tr>
        <th>navn</th>
        <th>etternavn</th>
        <th>status</th>
        <th>tidspunkt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
            <td> status </td>
            <td> tidspunkt </td>
            <td> <a href="{% url 'updatecooluser' user.id %}">oppdater</a> </td>
            <td> <a href="{% url 'deletecooluser' user.id %}">slett</a> </td>
        </tr>
        {%endif%}
        {%endfor%}
      </tr>
    </tbody>
    </table>
    <br><a href="{% url 'frontpage' %}">Home</a> 
{% endblock %}