{% extends 'coolflex/base.html' %}
{% load static %}

{% block content %}
<h2>Bruker: {{ name }}</h2>
<h2>Klasser</h2>
<form action="{% url 'search_results' %}" method="get">
  <p>Søk etter elev:</p>
  <input name="q" type="text" placeholder="Søk..."><button class="btn btn-primary" type="submit">Søk</button>
</form>
<br>
<table id="coolflex">
    <thead>
      <tr>
        <th>Klasse</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        {% for klasse in klasse_list %}
        <tr> 
          <td> {{ klasse.grade }}{{ klasse.letter }} </td>
          <td> {{ klasse.sum }}/{{ klasse.total }}</td>
          <td><div class="button"><a href="{% url 'klasse' klasse.id %}">Info</a> </div></td>
          <td><div class="button"><a href="{% url 'updateklasse' klasse.id %}">Oppdater</a></div></td>
          <td><div class="button"><a href="{% url 'deleteklasse' klasse.id %}">Slett</a></div></td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

    <div class="button"><a href="{% url 'createklasse' %}">Ny klasse</a> <br></div>
  
{% endblock %}

{% block sidenav %}
<a href="{% url 'info' %}">Om oss</a>
<a href="{% url 'logout' %}">Logg ut</a>
{% endblock %}