{% extends 'coolflex/base.html' %}
{% load static %}

{% block content %}
<h1>User: {{ name }}</h1>
<h2>Klasser</h2>
<a href="{% url 'createklasse' %}">Ny klasse</a> <br>
<table>
    <thead>
      <tr>
        <th>tall</th>
        <th>bokstav</th>
        <th>status</th>
        <th>info</th>
      </tr>
    </thead>
    <tbody>
        {% for klasse in klasse_list %}
        <tr> 
          <td> {{ klasse.grade }} </td>
          <td> {{ klasse.letter }} </td>
          <td> {{ klasse.sum }}/{{ klasse.total }}</td>
          <td> <a href="{% url 'klasse' klasse.id %}">info</a> </td>
          <td> <a href="{% url 'updateklasse' klasse.id %}">oppdater</a> </td>
          <td> <a href="{% url 'deleteklasse' klasse.id %}">slett</a> </td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    <a class="logout-button" href="{% url 'logout' %}">Log out</a> <br>
  
{% endblock %}