{% extends 'coolflex/base.html' %}
{% load static %}


{% block content %}
<a class="logout-button" href="{% url 'logout' %}">Log out</a>
<h1>{{ klassenavn }}</h1>
<table id="coolflex">
    <thead>
      <tr>
        <th>navn</th>
        <th>etternavn</th>
        <th>status</th>
        <th>tidspunkt</th>
        <th>sted</th>
        <th>lærer</th>
        <th>foreldre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for user in coolusers %}
        {% if user.klasse|lower == klassenavn|lower %}
        <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
            <td> {{ user.status }} </td>
            <td> {{ user.timestamp }} </td>
            <td> {{ user.location }} </td>
            <td> {{ user.get_teacher }} </td>
            <td> {{ user.get_parent }} </td>
            <td> <a href="{% url 'updatecooluser' user.id %}">oppdater</a> </td>
            <td> <a href="{% url 'deletecooluser' user.id %}">slett</a> </td>
        </tr>
        {%endif%}
        {%endfor%}
      </tr>
    </tbody>
    </table>
    <a href="{% url 'createcooluser' %}">Ny elev</a>
{% endblock %}

{% block sidenav %}
<a href="{% url 'frontpage' %}">Home</a> 
<a href="{% url 'logout' %}">Log out</a> <br>
{% endblock %}